
*.class


*.log


*.ctxt


.mtj.tmp/


*.jar
*.war
*.ear


target/

!libs/my-app-1.0-SNAPSHOT-jar-with-dependencies.jar


.classpath
.project
.settings/


.idea/
*.iml
*.iws


/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


.vscode/


.DS_Store


Thumbs.db
